.input-item {
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}
.example-radio-button {
  margin: 5px;
}

.btn-action {
  margin-top: 10px;
  button {
    margin-right: 10px;
  }
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
